###CBIG fMRI preprocessing configuration file modified by Alex Cohen for GSP dataset
###The order of preprocess steps is listed below
###Change: swap bandpass and regress order, regress_new (use BOLD_stem as MASK_stem), per_run, detrend (not trendout), censor

# Skip first four frames:
	CBIG_preproc_skip -skip 4

# Slice Timing Correction using data from BIDS json files (uses FSL slicetimer default of bottom-up):
	CBIG_preproc_fslslicetimer -slice_timing ${st_file}

# Motion Correction:
	CBIG_preproc_fslmcflirt_outliers -FD_th 0.2 -DV_th 50 -discard-run 75

# BBregister each run and use matrix with lower bbr cost if needed:
	CBIG_preproc_bbregister

# Band-pass filtering:
        CBIG_preproc_bandpass -low_f 0.009 -high_f 0.08 -detrend

# Regression for Functional Connectivity:
	CBIG_preproc_regress -whole_brain -wm -csf -motion12_itamar -detrend_method detrend -per_run -polynomial_fit 1 -erode_space func -wm_max_erode 1 -csf_max_erode 0

# Remove high motion frames (Power-style scrubbing):
#	CBIG_preproc_censor -max_mem 8

# Band-pass filtering:
#	CBIG_preproc_bandpass -low_f 0.009 -high_f 0.08 -detrend 

# Create Carpet plots for QC purposes:
#	CBIG_preproc_QC_greyplot -FD_th 0.2 -DV_th 50

# Project fMRI to fsaverage6:
#	CBIG_preproc_native2fsaverage -proj fsaverage6 -sm 7 -down fsaverage5

# Project fMRI to MNI using ants:
#	CBIG_preproc_native2mni_ants -sm_mask ${CBIG_CODE_DIR}/data/templates/volume/FS_nonlinear_volumetric_space_4.5/SubcortCerebellumWhiteMask.GCA.t0.5_resampled.nii.gz -final_mask ${FSL_DIR}/data/standard/MNI152_T1_2mm_brain_mask_dil.nii.gz

# Project fMRI to MNI using freesurfer:
	CBIG_preproc_native2mni -down FSL_MNI_2mm -sm 7 -sm_mask ${CBIG_CODE_DIR}/data/templates/volume/FS_nonlinear_volumetric_space_4.5/SubcortCerebellumWhiteMask.GCA.t0.5_resampled.nii.gz -final_mask ${FSL_DIR}/data/standard/MNI152_T1_2mm_brain_mask_dil.nii.gz
